.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 0.7em;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.swiper-pagination-bullet-active {
    background: var(--azul-degrade);
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1.25em 1.5em;
    padding: 1.25em 1em;
}

.card__descricao {
    /* display: flex;
    justify-content: space-between;
    gap: 1em; */
    display: grid;
    grid-template-columns: 50% 45%;
    column-gap: 5%;
}

.descricao {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
    line-height: 1.25em;
}

.descricao__titulo-2 {
    font-size: 18px;
    font-weight: 700;
    color: var(--azul);
    line-height: 1.25em;
}

.descricao__texto {
    font-size: 14px;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.85);
}

.descricao__imagem {
    width: 100%;
}

.card__botao {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

.botao {
    display: flex;
    align-items: center;
}

.botao__ancora {
    color: var(--branco);
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    background-color: var(--laranja);
    padding: 1em 0em;
    width: 45%;
}

.checked {
    color: var(--laranja);
}

@media screen and (min-width: 1024px) {

    :root {
        --swiper-pagination-bullet-horizontal-gap: 8px;
    }

    .carrossel__titulo {
        font-size: 26px;
        padding-top: 1.5em;
    }

    .swiper {
        width: 80%;
    }

    .swiper-pagination {
        position: initial;
        margin: 2em 0 2em;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }

    .swiper-slide {
        text-align: center;
    }

    .swiper-slide img {
        width: 80%;

    }

    .card {
        margin: 3em 20%;
        padding: 1.5em 1em;
    }

    .card__descricao {
        grid-template-columns: 60% 35%;
    }

    .descricao {
        gap: 1em;
    }

    .descricao__texto {
        font-size: 16px;
        font-weight: 400;
    }

    .card__botao {
        margin-top: 1em;
    }

    .botao__ancora {
        width: 35%;
    }

}

@media screen and (min-width: 1300px) { 
    .carrossel__titulo {
        font-size: 32px;
    }

    .carrossel__container {
        display: flex;
        align-items: flex-end;
        margin: 2em 10vw 3em 10vw;
        gap: 5%;
    }

    .swiper {
        width: 60%;
    }

    .card {
        margin: 0;
        width: 35%;
        height: fit-content;
    }

    .descricao__titulo {
        font-size: 20px;
    }
}